.main {
    min-height: 50vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100vw;
    height: 50%;
    min-height: 34.5vh;

    background: url('http://localhost:3000/images/landing.jpeg');
    background-size: 100%;
    background-position: center;

    background-repeat: no-repeat;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
}

.title, .text {
    padding: 1rem 0;
}

.textSection {
    padding: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;

    a {
        padding: .4rem 0;
    }
}